.room-code {
    height: 40px;
    border-radius: 8px;
    overflow: hidden;

    background: #fff;
    border: 1px solid #8354fd;
    cursor: pointer;

    display: flex;

    div {
        height: 40px;
        background: #8354fd;
        padding: 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    span {
        display: block;
        align-self: center;
        flex: 1;
        padding: 0 16px 0 12px;
        width: 200px;
        font-size: 14px;
        font-weight: 500;
    }
}